@charset "utf-8";
/* CSS Document */

/****** HEADER ******/
header {
	color: black;
	text-align: center;
	background-color: #3D9BE9;
	padding-top: 10px;
	margin: 0px;
}

h1 {
	color: black;
	font-family: 'Chelsea Market', cursive;
	font-size: 50px;
}

.logincart {
	width: 15%;
	font-size: 20px;
}

.logincart a {
	color: black;
	text-align: center;
	text-decoration: none;
}

/****** NAV BAR ******/
nav ul {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

nav li {
  	float: left;
	list-style: none;
	font-size: 18px;
	font-family: 'Chelsea Market', cursive;
}

nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: none;
}

/****** SEARCH ******/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 70%;
  border: transparent;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchButton {
  width: 30px;
  height: 30px;
  border: 0px transparent;
  background: white;
  text-align: center;
  color: black;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
}

.wrap{
  width: 30%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****** BODY ******/
body {
	margin: 0px;
	background: #f2f2f2;
}

/***** ABOUT US *****/
.aboutus h1 {
	text-align: center;
	color: #3D9BE9;
	font-family: 'Chelsea Market', cursive;
}

.aboutus p {
	font-size: 18px;
	font-family: 'Chelsea Market', cursive;
	width: 50%;
	margin: auto;
	text-align: center;
}

.aboutus .unologo{
	border-radius: 50%;
	float: right;
	display: flex;
	margin-right: 30px;
}

/***** CONTACT US *****/
.contactus h1 {
	text-align: center;
	color: #3D9BE9;
	font-family: 'Chelsea Market', cursive;
}

.contactus p {
	font-size: 18px;
	font-family: 'Chelsea Market', cursive;
	width: 50%;
	margin: auto;
	text-align: center;
}
.contactus form, button {
	align-content: center;
	text-align: center;
	align-items: center;
}
/***** REGISTER *****/
.register {
	font-family: 'Chelsea Market', cursive;
}

.register h1 {
	text-align: center;
	font-size: 50px;
	color: #3D9BE9;
}
.register h2 {
	text-align: center;
	font-size: 20px;
	color: #3D9BE9;
}

.register p {
	color: black;
	text-align: left;
	margin: auto;
	width: 500px;
	padding-bottom: 5px;
}

.registerBTN {
	text-align: center;
	padding-top: 7px;
}
.register ul {
	text-decoration: none;
	list-style-type: none;
	width: 500px;
	margin: auto;
	padding: 5px;
}

/***** LOGIN *****/
.auth {
	text-align: center;
}
.auth h1 {
	color: #3D9BE9;
}
.auth p {
	color: black;
	font-size: 15px;
}

/***** Login Dropdown *****/
.userdropbtn {
	color: black;
	text-align: center;
	background-color: #3D9BE9;
	padding-right: 10px;
	margin: 0px;
	border: none;
	width: 15%;
	font-size: 20px;
}

.userdropdown {
  position: relative;
  display: inline-block;
}

.userdropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.userdropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.userdropdown-content a:hover {background-color: #ddd;}

.userdropdown:hover .userdropdown-content {display: block;}

.userdropdown:hover .dropbtn {background-color: #3e8e41;}

/***** HOME *****/
.homebuttons h1 {
	padding-top: 20px;
	text-align: center;
	font-size: 35px;
	color: #3D9BE9;
	font-weight: BOLD;
}

.homebuttons a:link, a:visited {
	background-color: #3D9BE9;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 100%;
}
.homebuttons a:hover, a:active {
  background-color: #3D9BE9;
}

.hotitems h1 {
	padding-top: 20px;
	text-align: center;
	font-size: 35px;
	color: #3D9BE9;
	font-weight: BOLD;
}