@charset "utf-8";
/* CSS Document */

/****** HEADER ******/
header {
	color: black;
	text-align: center;
	background-color: #3D9BE9;
	padding-top: 10px;
	margin: 0px;
}

h1 {
	color: black;
	font-family: 'Chelsea Market', cursive;
	font-size: 50px;
}

.logincart {
	width: 15%;
	font-size: 20px;
}

/****** NAV BAR ******/
nav ul {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

nav li {
  	float: left;
	list-style: none;
	font-size: 18px;
	font-family: 'Chelsea Market', cursive;
}

nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: none;
}

/****** SEARCH ******/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 70%;
  border: transparent;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchButton {
  width: 30px;
  height: 30px;
  border: 0px transparent;
  background: white;
  text-align: center;
  color: black;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
}

.wrap{
  width: 30%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****** BODY ******/
body {
	margin: 0px;
	background: #f2f2f2;
}

/***** ABOUT US *****/
.aboutus h1 {
	text-align: center;
	color: #3D9BE9;
	font-family: 'Chelsea Market', cursive;
}

.aboutus p {
	font-size: 18px;
	font-family: 'Chelsea Market', cursive;
	width: 50%;
	margin: auto;
	text-align: center;
}

.aboutus .unologo{
	border-radius: 50%;
	float: right;
	display: flex;
}

/***** CONTACT US *****/
.contactus h1 {
	text-align: center;
	color: #3D9BE9;
	font-family: 'Chelsea Market', cursive;
}

.contactus p {
	font-size: 18px;
	font-family: 'Chelsea Market', cursive;
	width: 50%;
	margin: auto;
	text-align: center;
}
.contactus form, button {
	align-content: center;
	text-align: center;
	align-items: center;
}