{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="aboutus">
  <h1>About Titan Computer Parts</h1>
  	<p>We are Titan Computer Parts! We strive to provide our customers with the highest quality computer parts at the best prices.
        Our goal is to be your go-to online retailer when looking for computer parts and accessories. </p>
    <br>
    <br>
	<h1>About the Founders</h1>
	<img class="unologo" src="{% static 'images/unologo.png' %}" width="275" height="183" alt=""/>
  	<p>We are a small group of college students working to complete degrees in various fields of computer science.
        We belong to Group 7 at the University of Nebraska Omaha’s 20FA ISQA3900-850 Web Application Development.</p>
	<p>Have any questions for us? Please fill out the <a href="{% url 'contact' %}">“Contact Us”</a> form!</p>
</div>
{% endblock %}