{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Titan Computer Parts</title>
<!-- main stylepage -->
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
<!-- Google API for Chelsea Market font -->
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
<!-- Isolated Bootstrap -->
<link href="{% static 'css/iso_bootstrap4.0.0.css' %}" rel="stylesheet" type="text/css">
<!-- CloudFlare search font -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
	<h1>Titan Computer Parts</h1>
	<nav>
		<div class="wrap">
		   <div class="search">
			  <input type="text" class="searchTerm" placeholder="What are you looking for?">
			  <button type="submit" class="searchButton">
				<i class="fa fa-search"></i>
			 </button>
			 <div class="logincart">
                 <div class="userdropdown">
                    <button class="userdropbtn"><i class="fa fa-user" aria-hidden="true"></i></button>
                     <div class="userdropdown-content">
                         {% if user.is_authenticated %}
                             <a href="#">Account</a>
                             <a href="#">Orders</a>
                             <a href="{% url 'logout' %}">Log Out</a>
                             <a href="{% url 'change_password' %}">Change Password</a>
                         {% else %}
                             <a href="{% url 'login' %}">Login</a>
                             <a href="{% url 'register' %}">Register</a>
                         {% endif %}
                     </div>
                 </div>
				<i class="fa" style="font-size:24px">&#xf07a;</i>
				<span class="badge badge-warning" id="lblCartCount"> 0 </span>
			 </div>
		   </div>
		</div>
		<ul>
			<li><a class="active" href="{% url 'home' %}">Home</a></li>
			<li><a class="active" href="{% url 'store' %}">Store</a></li>
			<li><a class="active" href="{% url 'about' %}">About Us</a></li>
			<li><a class="active" href="{% url 'contact' %}">Contact Us</a></li>

            {% if user.is_superuser %}
            <li><a class="active" href="{% url 'salesman:product_list' %}">Products</a></li>
            <li><a class="active" href="{% url 'salesman:customer_list' %}">Customer View</a></li>
            {% endif %}

		</ul>


        <ul>

        </ul>
	</nav>
</header>
<body>
   {% block content %}
   {% endblock %}
</body>
</html>
