{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="bootstrap">
        <div class="container">
            <div class="homebuttons">
                <h1>What are you looking for?</h1>
                <div class="row">
                    <div class="col">
                        <a href="#" style="margin-bottom: 15px">CPU / Processors</a>
                        <a href="#" style="margin-bottom: 15px">Video Cards</a>
                        <a href="#" style="margin-bottom: 15px">Power Supplies</a>
                    </div>
                    <div class="col">
                        <a href="#" style="margin-bottom: 15px">Memory</a>
                        <a href="#" style="margin-bottom: 15px">Computer Cases</a>
                    </div>
                    <div class="col">
                        <a href="#" style="margin-bottom: 15px">Motherboards</a>
                        <a href="#" style="margin-bottom: 15px">Storage</a>
                        <a href="#" style="margin-bottom: 15px">Shop All Categories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}